<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
			
	    		</ul>
			</nav>
			<div class="container">
			
			<li><a href="/directorate">
					<img src="https://user-images.githubusercontent.com/46460669/56834255-33227480-6871-11e9-890b-1545f2827885.png" alt="">
					</a></li>
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:antomazin@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">facebook</a></li>
				</ul>
			</footer>
		</body>
	</html>
