<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			 <div class="center-screen">
				  <div class="img">

<a href="/directorate/index.html">
directorate					
</a>
			<a href="/about">
					<img src="https://user-images.githubusercontent.com/46460669/56834255-33227480-6871-11e9-890b-1545f2827885.png" align="middle" alt="">
			</a>
					</div>  		
			<footer>
				
	    			<ul>
				<li><a href="mailto:an.tomazin@gmail.com">email</a></li>
	        		<li><a href="https://www.facebook.com/andrej.tomazin.121">facebook</a></li>
				</ul>
			</footer>
				
			</div>
			
		</body>
			
	</html>
